.idea/
.venv/
venv/


!ingestion_service/test_files/.gitkeep
ingestion_service/test_files/*
ingestion_service/logs/*
!ingestion_service/logs/.gitkeep
ingestion_service/.env



ingestion_service/l
gh_token.txt.txt


infra/Qdrant/storage/*
!infra/Qdrant/storage/.gitkeep

