.idea/
.venv/
venv/

# ===========Ingestion Service===========
!ingestion_service/test_files/.gitkeep
ingestion_service/test_files/*

!ingestion_service/logs/.gitkeep
ingestion_service/logs/*

!ingestion_service/models_cache/.gitkeep
ingestion_service/models_cache/*

ingestion_service/.env
# ========================================

gh_token.txt.txt


infra/Qdrant/storage/*
!infra/Qdrant/storage/.gitkeep

